<!-- <Tree #tree [nodes]="inputMuduleTree" [focused]="true"></Tree> -->
<!-- <Tree #tree >
    <ng-template #treeNodeTemplate let-node="node" let-index="index">
        <span>{{ node.data.name }}</span>
        <span *ngIf="node.data.moduleTreeType == 2">
            <input id="{{node.data.actionId}}" type="checkbox"
                   [checked]="node.data.enabled"
                   [(ngModel)]="node.data.enabled"
                   class="ro-checkbox"
                   (change)="clicChecked($event,node.data)">
            <label htmlFor="{{node.data.actionId}}" style="margin-left: 8px;"></label>
        </span>

    </ng-template>
</Tree> -->