<div class="ro-tab tabs-top">
    <ul class="nav-tabs">
        <li>
            <input type="radio" name="tabsHeader" id="tab1Main" class="tab-check" checked />
            <label for="tab1Main">Rental Application <span class="tab-counter">{{totalResultCount}}</span></label>
            <div class="tab-content">
                <div class="tab-pane">
                    <form>
                        <div class="filter-bar form-horizontal">
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="driver" class="col-sm-5 control-label">Property Type</label>
                                                <label class="col-sm-7">
                                                    <select class="form-control" formControlName="houseTypeId"
                                                            name="houseTypeId">
                                                        <option value=""></option>
                                                        <option *ngFor="let houseType of _listHouseTypes" [attr.value]='houseType.houseTypeid'>
                                                            {{houseType.houseTypeName}}
                                                        </option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Referred By</label>
                                                <label class="col-sm-7">
                                                    <select name="ConceptId" formControlName ="conceptId"
                                                            class="form-control input-control">
                                                        <option value=""></option>
                                                        <option *ngFor="let concept of _listConcepts" [ngValue]="concept.conceptId">
                                                            {{concept.name}}
                                                        </option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Date From</label>
                                                <label class="ro-calendar col-sm-7">
                                                        <!-- <input class="form-control" [placeholder]="localization.dateFormat" name="expenseDateFrom" ngbDatepicker #d1="ngbDatepicker"
                                                        [outside-click]="d1" [(ngModel)]="modelExpenseDateFrom" (ngModelChange)="onSelectModelExpenseDateFrom()"> -->
                                                    <input class="form-control" [placeholder]="localization.dateFormat" name="expenseDateFrom" ngbDatepicker #d1="ngbDatepicker"
                                                           [outside-click]="d1" [(ngModel)]="modelExpenseDateFrom" >
                                                    <span class="ro-calendar-btn" (click)="d1.toggle()"><i class="xico-ui-calendar" style="width:30px"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Applicant Date To</label>
                                                <label class="ro-calendar col-sm-7">
                                                    <!-- <input class="form-control" [placeholder]="localization.dateFormat" name="ExpenseDateTo" ngbDatepicker #d2="ngbDatepicker"
                                                           [outside-click]="d2" [(ngModel)]="modelExpenseDateTo" (ngModelChange)="onSelectModelExpenseDateTo()"> -->
                                                    <input class="form-control" [placeholder]="localization.dateFormat" name="ExpenseDateTo" ngbDatepicker #d2="ngbDatepicker"
                                                        [outside-click]="d2" [(ngModel)]="modelExpenseDateTo" >
                                                    <span class="ro-calendar-btn" (click)="d2.toggle()"><i class="xico-ui-calendar" style="width:30px"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!--<div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Name</label>
                                                <label class="col-sm-7">
                                                    <input type="text" name="fullName" class="form-control" [(ngModel)]="model.fullName" />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">EMail</label>
                                                <label class="col-sm-7">
                                                    <input type="text" name="email" class="form-control" [(ngModel)]="model.email" />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Checkin From</label>
                                                <label class="ro-calendar col-sm-7">
                                                    <input class="form-control" [placeholder]="localization.dateFormat" name="CheckInFrom" ngbDatepicker #d3="ngbDatepicker"
                                                           [outside-click]="d3" [(ngModel)]="modelCheckInFrom" (ngModelChange)="onSelectModelCheckInFrom()">
                                                    <span class="ro-calendar-btn" (click)="d3.toggle()"><i class="xico-ui-calendar" style="width:30px"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Checkin To</label>
                                                <label class="ro-calendar col-sm-7">
                                                    <input class="form-control" [placeholder]="localization.dateFormat" name="CheckInTo" ngbDatepicker #d4="ngbDatepicker"
                                                           [outside-click]="d4" [(ngModel)]="modelCheckInTo" (ngModelChange)="onSelectModelCheckInTo()">
                                                    <span class="ro-calendar-btn" (click)="d4.toggle()"><i class="xico-ui-calendar" style="width:30px"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>-->
                                    <!--<div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Residence Country</label>
                                                <label class="col-sm-7">
                                                    <select name="countryId" [(ngModel)]="model.residenseCountryId"
                                                            class="form-control input-control">
                                                        <option *ngFor="let country of _listCountries" [ngValue]="country.id">
                                                            {{country.name}}
                                                        </option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Budget</label>
                                                <label class="col-sm-7">
                                                    <select name="typeId" [(ngModel)]="model.budgetId"
                                                            class="form-control input-control">
                                                        <option *ngFor="let type of _listBudgets" [ngValue]="type.typeId">
                                                            {{type.name}}
                                                        </option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Checkout From</label>
                                                <label class="ro-calendar col-sm-7">
                                                    <input class="form-control" [placeholder]="localization.dateFormat" name="CheckOutFrom" ngbDatepicker #d5="ngbDatepicker"
                                                           [outside-click]="d5" [(ngModel)]="modelCheckOutFrom" (ngModelChange)="onSelectModelCheckOutFrom()">
                                                    <span class="ro-calendar-btn" (click)="d5.toggle()"><i class="xico-ui-calendar" style="width:30px"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="from" class="col-sm-5 control-label">Checkout To</label>
                                                <label class="ro-calendar col-sm-7">
                                                    <input class="form-control" [placeholder]="localization.dateFormat" name="CheckOutTo" ngbDatepicker #d6="ngbDatepicker"
                                                           [outside-click]="d6" [(ngModel)]="modelCheckOutTo" (ngModelChange)="onSelectModelCheckOutTo()">
                                                    <span class="ro-calendar-btn" (click)="d6.toggle()"><i class="xico-ui-calendar" style="width:30px"></i></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>-->

                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                                    <div class="button-container">
                                        <button type="submit" id="btnSearch" (click)="onSelect()" class="ro-button btn-primary" >Search</button>
                                    </div>
                                    <div class="button-container">
                                        <button type="button" class="ro-button btn-default" (click)="onReset()">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-bar">
                            <div class="button-container">
                                <!-- <button type="button" class="ro-button btn-success" (click)="onInsert()" >
                                    <i class="xico-action-edit"></i>
                                    Add Application
                                </button> -->
                                <button type="button" class="ro-button btn-success" >
                                        <i class="xico-action-edit"></i>
                                        Add Application
                                    </button>
                            </div>
                            <!--<div class="button-container">
                                <button type="button" id="btnExport" (click)="onOpenWhatsAppMessage()" class="ro-button btn-default">
                                    <i class="xico-action-mail"></i>
                                    Send WhatsApp Message
                                </button>
                            </div>-->
                            <!--<div class="button-container">
                                <button type="button" id="btnExport" (click)="onExport()" class="ro-button btn-default">
                                    <i class="xico-file-download"></i>
                                    Export to Excel
                                </button>
                            </div>-->
                        </div>
                    </form>
                    <!--<div class="grid-container">
                        <kendo-grid id="kgrid-Contract" [data]="rentalApplicationSearchDTOs" [pageSize]="model.pageSize" [skip]="currentPage" [pageable]="{
                                buttonCount: buttonCount,
                                info: info,
                                type: type,
                                pageSizes: pageSizes,
                                previousNext: previousNext
                            }" (pageChange)="pageChange($event)" [selectable]="false">
                            <kendo-grid-column [width]="50">
                                <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                                    <div class="text-center">
                                        <input type="checkbox" id="HeaderTemplate" style="zoom:1.3" value="option" (change)="changeItemHeader()" />
                                    </div>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <div class="text-center">
                                        <input class="ro-checkbox" type="checkbox" id="{{rowIndex}}" value="option" [checked]="dataItem.isSelected" (change)="changeItem(dataItem)" />
                                        <label htmlFor="{{rowIndex}}"></label>

                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Priority">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <div *ngIf="dataItem.priorityName==='Hight'">
                                        <label class="label-status approved">{{dataItem.priorityName}}</label>
                                    </div>
                                    <div *ngIf="dataItem.priorityName==='Medium'">
                                        <label class="label-status pending">{{dataItem.priorityName}}</label>
                                    </div>
                                    <div *ngIf="dataItem.priorityName==='Low'">
                                        <label class="label-status">{{dataItem.priorityName}}</label>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="applicationDate" title="Application Date">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <div>
                                        <span>{{dataItem.applicationDate|date:"MM/dd/yyyy" }}</span><br />
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="propertyTypeName" title="Property Type"></kendo-grid-column>
                            <kendo-grid-column field="fullName" title="Name"></kendo-grid-column>
                            <kendo-grid-column field="email" title="E-Mail"></kendo-grid-column>
                            <kendo-grid-column field="cellPhone" title="Cellphone"></kendo-grid-column>
                            <kendo-grid-column field="checkIn" title="Check In">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <div>
                                        <span>{{dataItem.checkIn|date:"MM/dd/yyyy" }}</span><br />
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="checkOut" title="Check Out">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <div>
                                        <span>{{dataItem.checkOut|date:"MM/dd/yyyy" }}</span><br />
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="residenseCountryName" title="Residence Country"></kendo-grid-column>
                            <kendo-grid-column field="budgetName" title="Budget"></kendo-grid-column>
                            <kendo-grid-column field="housePartName" title="Complete/Shared"></kendo-grid-column>
                            <kendo-grid-column field="outInDownName" title="In DownTown"></kendo-grid-column>

                            <kendo-grid-column field="personNo" title="Person No"></kendo-grid-column>
                            <kendo-grid-column field="referredByName" title="Referred By"></kendo-grid-column>
                            <kendo-grid-column field="referredByOther" title="Referred By Other"></kendo-grid-column>
                            <kendo-grid-column field="hasNotification" title="Notification">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <div>
                                        <span *ngIf="dataItem.hasNotification" class="label-status rejected">Alert</span><br />
                                    </div>
                                </ng-template>
                            </kendo-grid-column>


                            <kendo-grid-column>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <div class="text-right">
                                        <button type="button" class="btn-icon" (click)="onEdit(dataItem)">
                                            <i class="xico-action-edit"></i>
                                        </button>
                                        <button type="button" class="btn-icon" (click)="onDelete(dataItem);">
                                            <i class="xico-action-remove"></i>
                                        </button>
                                    </div>
                                </ng-template>
                            </kendo-grid-column>

                         </kendo-grid>
                    </div>-->
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- <kendo-dialog title="Confirmation" *ngIf="openedDeletionConfimation" (close)="closeDeletionConfirmation()">
    <div>{{deleteMessage}}</div>
    <kendo-dialog-actions>
        <button type="button" class="k-button" (click)="closeDeletionConfirmation()">No</button>
        <button type="button" class="k-button k-primary" (click)="yesDelete()">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog> -->

<!--<kendo-dialog title="Send Message" *ngIf="openedWhatsAppMessageConfimation" (close)="closeWhatsAppMessageConfirmation()">
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="driver" class="col-sm-5 control-label">Message</label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-12">
                        <textarea type="text" name="txtMessage" style="height:100px" 
                            [(ngModel)]="message" class="form-control" ></textarea>
                    </label>
                </div>
            </div>
        </div>
        <kendo-dialog-actions>
            <button type="button" class="k-button" (click)="closeWhatsAppMessageConfirmation()">Cancel</button>
            <button type="button" class="k-button k-primary" (click)="SendAppMessage()">Send</button>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>-->

<!--<kendo-dialog title="Confirmation" *ngIf="openedSendConfimationMsg" (close)="closeSendConfirmationMsg()">
    <div>Are you sure to send this message to the list of cellphones</div>
    <kendo-dialog-actions>
        <button type="button" class="k-button" (click)="closeSendConfirmationMsg()">No</button>
        <button type="button" class="k-button k-primary" (click)="onSend()">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>-->

<!--<div>
    <div>
        <at-rentalapplication-maintenance></at-rentalapplication-maintenance>
    </div>
</div>-->