<div class="form-horizontal">
    <div class="page-header">
        Contract
    </div>
    <div class=".container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div class="col-sm-12" style="padding-left:10px;padding-top:10px;color:aqua">
                    <st-boton-maintenance (onEventSave)="onExecuteEvent($event)" [formValid]="tenantForm.form.valid" [formName]="'tenantForm'"></st-boton-maintenance>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <biz-val [successFlag]="successFlag" [successMessage]="successMessage" [errorMessages]='errorMessages'></biz-val>
            <div class="row">
                <form #tenantForm="ngForm" data-val-form="tenantForm" class="col-sm-12">

                    <fieldset class="scheduler-border">

                        <div class="row col-sm-10">
                            <div class="col-sm-6">
                                <div class="sub-header">Contract Details</div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">Lease No</label>
                                    <label class="col-sm-7">
                                        <input type="text" name="LeaseNo" class="form-control" [(ngModel)]="model.contractCode" [disabled]="true" />
                                    </label>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">Begin Date</label>
                                    <label class="ro-calendar col-sm-7">
                                        <input class="form-control" [placeholder]="localization.dateFormat" name="BeginDate" ngbDatepicker #d1="ngbDatepicker"
                                               [outside-click]="d1" [(ngModel)]="modelFrom" (ngModelChange)="onSelectModelFrom()" [disabled]="_isDisabled">
                                        <span class="ro-calendar-btn" (click)="d1.toggle()"><i class="xico-ui-calendar" style="width:30px"></i></span>
                                        <label class="message error" style="color: #F44336; margin-top: 4px;" *ngIf="_formError.beginDateError">Begin date is required</label>
                                    </label>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">Months No</label>
                                    <label class="col-sm-7">
                                        <input type="text" name="monthsNumber" class="form-control" [(ngModel)]="model.monthsNumber" (blur)="calculateEndDate($event.target.value)" [disabled]="_isDisabled" />
                                    </label>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">End Date</label>
                                    <label class="ro-calendar col-sm-7">
                                        <input class="form-control" [placeholder]="localization.dateFormat" name="EndDate" ngbDatepicker #d2="ngbDatepicker"
                                               [outside-click]="d2" [(ngModel)]="modelTo" (ngModelChange)="onSelectModelTo()" [disabled]="_isDisabled">
                                        <span class="ro-calendar-btn" (click)="d2.toggle()"><i class="xico-ui-calendar" style="width:30px"></i></span>
                                        <label class="message error" style="color: #F44336; margin-top: 4px;" *ngIf="_formError.endDateError">End Date is required</label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <fieldset class="scheduler-border">
                                        <div class="sub-header">&nbsp;</div>
                                        <div class="row" style="margin-bottom: 10px;border: 2px">
                                            <label for="from" class="col-sm-3 control-label">Status</label>
                                            <label class="col-sm-7">
                                                <input type="text" name="tenantId" class="form-control" [(ngModel)]="model.contractStatusCode" [disabled]="true" />
                                            </label>
                                            <div style="clear: both"></div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </fieldset>


                    <fieldset class="scheduler-border">
                        <div class="row col-sm-10">
                            <div class="col-sm-6">
                                <div class="sub-header">Tenant Details</div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">Tenant</label>
                                    <label class="col-sm-7">
                                        <ngbd-typeahead-tenant (modelOutput)="getTenant($event)" [currentTenant]="_currentTenant" [validateInActiveContract]=true></ngbd-typeahead-tenant>
                                        <label class="message error" style="color: #F44336; margin-top: 4px;" *ngIf="_formError.tenantError">Tenant is required</label>
                                    </label>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">Payment mode</label>
                                    <label class="col-sm-7">
                                        <select name="paymentModeId" [(ngModel)]="model.paymentModeId" class="form-control" (ngModelChange)="onPaymentModeChange()">
                                            <option *ngFor="let o of _listPaymentMode" [ngValue]="o.generalTableId">{{o.value}}</option>
                                        </select>
                                        <label class="message error" style="color: #F44336; margin-top: 4px;" *ngIf="_formError.paymentModeError">Payment mode is required</label>
                                    </label>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">Referenced By</label>
                                    <label class="col-sm-7">
                                        <input type="text" name="referencedBy" class="form-control" [(ngModel)]="model.referencedBy" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <fieldset class="scheduler-border">
                                        <div class="sub-header">Other Tenants</div>
                                        <div class="row" style="margin-bottom: 10px;border: 2px">
                                            <label for="from" class="col-sm-3 control-label">Add others tenants</label>
                                            <label class="col-sm-7">
                                                <ngbd-typeahead-tenant (modelOutput)="getOtherTenant($event)" [currentTenant]="_currentOtherTenant"></ngbd-typeahead-tenant>
                                            </label>
                                            <div style="clear: both"></div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;border: 2px">
                                            <label for="from" class="col-sm-3 control-label">Other tenant list</label>
                                            <div style="float: left; margin-left: 10px; color: #00499C; margin-top: 10px"
                                                 *ngFor="let item of selectedOtherTenantList">
                                                <span class="col-sm-7">{{item.fullName}}</span>
                                                <i class="xico-action-close" style="cursor: pointer" (click)="quitSelectedOtherTenant(item)"></i>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                    </fieldset>


                    <fieldset class="scheduler-border">

                        <div class="row col-sm-10">
                            <div class="col-sm-6">
                                <div class="sub-header">Property Details</div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">Property</label>
                                    <label class="col-sm-7">
                                        <ngbd-typeahead-house (modelOutput)="getHouse($event)" [currentHouse]="_currentHouse" ></ngbd-typeahead-house>
                                        <label class="message error" style="color: #F44336; margin-top: 4px;" *ngIf="_formError.houseError">Property is required</label>
                                    </label>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">Deposit</label>
                                    <label class="col-sm-7">
                                        <input type="text" name="deposit" class="form-control" [(ngModel)]="model.rentDeposit" />
                                        <label class="message error" style="color: #F44336; margin-top: 4px;" *ngIf="_formError.depositError">Deposit is required</label>
                                    </label>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-5 control-label">Rent</label>
                                    <label class="col-sm-7">
                                        <input type="text" name="rent" class="form-control" [(ngModel)]="model.rentPrice" value="model.rentPrice|number:'2.2-2'" />
                                        <label class="message error" style="color: #F44336; margin-top: 4px;" *ngIf="_formError.rentError">Rent is required</label>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6" *ngIf="hasFeatures">
                                <at-contract-house-feature [_listHouseFeature]="_listHouseAndDetails" (outputPrices)="getPrices($event)" [_isDisabled]=false></at-contract-house-feature>
                                <label class="message error" style="color: #F44336; margin-top: 4px;" *ngIf="_formError.contractHouseDetailError">House Feature is required</label>
                            </div>
                            
                        </div>

                    </fieldset>

                </form>
            </div>
        </div>
</div>

