@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@font-face {
    font-family: 'amigotenantx-icon';
    src: url('../fonts/amigotenantx-icons/amigotenantx-icon.eot?123ud6');
    src: url('../fonts/amigotenantx-icons/amigotenantx-icon.eot?#iefix123ud6') format('embedded-opentype'), 
		 url('../fonts/amigotenantx-icons/amigotenantx-icon.woff?123ud6') format('woff'), 
		 url('../fonts/amigotenantx-icons/amigotenantx-icon.ttf?123ud6') format('truetype'), 
		 url('../fonts/amigotenantx-icons/amigotenantx-icon.svg?123ud6#amigotenantx-icon') format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="xico-"],
[class*="xico-"] {
    font-family: 'amigotenantx-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^="xico-"]:before,
[class*="xico-"]:before {
    font-weight: normal !important
}

.xico-trans-truck-add:before {
    content: "\e609"
}

.xico-list:before {
    content: "\e60c"
}

.xico-truck-front:before {
    content: "\e60d"
}

.xico-cal:before {
    content: "\e60e"
}

.xico-trans-truck-find:before {
    content: "\e608"
}

.xico-indicator-mytruck:before {
    content: "\e710"
}

.xico-action-send-doc:before {
    content: "\e600"
}

.xico-transaction-offers:before {
    content: "\e601"
}

.xico-ui-hourglass:before {
    content: "\e602"
}

.xico-file-upload:before {
    content: "\e603"
}

.xico-file-download:before {
    content: "\e604"
}

.xico-shipment-quote:before {
    content: "\e605"
}

.xico-action-claim:before {
    content: "\e606"
}

.xico-shipment-uncom:before {
    content: "\e607"
}

.xico-trans-truck-rm:before {
    content: "\e60a"
}

.xico-ui-arrow-down:before {
    content: "\e60b"
}

.xico-ui-arrow-right:before {
    content: "\e613"
}

.xico-status-available:before {
    content: "\e60f"
}

.xico-status-covered:before {
    content: "\e610"
}

.xico-status-delivered:before {
    content: "\e611"
}

.xico-status-progress:before {
    content: "\e612"
}

.xico-user-suitcase:before {
    content: "\e617"
}

.xico-device-click-left:before {
    content: "\e619"
}

.xico-device-click-right:before {
    content: "\e61a"
}

.xico-user-admin:before {
    content: "\e620"
}

.xico-user-block:before {
    content: "\e621"
}

.xico-user-business:before {
    content: "\e622"
}

.xico-user-delete:before {
    content: "\e623"
}

.xico-user-rm:before {
    content: "\e625"
}

.xico-user-add:before {
    content: "\e626"
}

.xico-user-impersonate:before {
    content: "\e628"
}

.xico-user-login:before {
    content: "\e629"
}

.xico-user-logout:before {
    content: "\e62a"
}

.xico-user-profile:before {
    content: "\e62b"
}

.xico-user-inbox:before {
    content: "\e62c"
}

.xico-user-lock-open:before {
    content: "\e62d"
}

.xico-user-lock-unlock:before {
    content: "\e62e"
}

.xico-user-lock:before {
    content: "\e62f"
}

.xico-bi-barchart:before {
    content: "\e636"
}

.xico-indicator-ban:before {
    content: "\e638"
}

.xico-ui-icon-bar:before {
    content: "\e63a"
}

.xico-ui-icon-plus:before {
    content: "\e63c"
}

.xico-ui-arrow-w:before {
    content: "\e63d"
}

.xico-ui-arrow-nw:before {
    content: "\e644"
}

.xico-ui-reload:before {
    content: "\e647"
}

.xico-ui-reply-all:before {
    content: "\e648"
}

.xico-ui-spinner-backward:before {
    content: "\e64a"
}

.xico-ui-undo:before {
    content: "\e64b"
}

.xico-ui-sort:before {
    content: "\e64e"
}

.xico-ui-angle-left:before {
    content: "\e652"
}

.xico-ui-angle-double-left:before {
    content: "\e655"
}

.xico-ui-list:before {
    content: "\e658"
}

.xico-ui-thumbnail:before {
    content: "\e65b"
}

.xico-ui-loading:before {
    content: "\e65c"
}

.xico-ui-send:before {
    content: "\e660"
}

.xico-ui-calendar:before {
    content: "\e663"
}

.xico-ui-clock:before {
    content: "\e664"
}

.xico-ui-config:before {
    content: "\e666"
}

.xico-ui-gear:before {
    content: "\e667"
}

.xico-ui-home:before {
    content: "\e668"
}

.xico-transaction-bid:before {
    content: "\e669"
}

.xico-transaction-dollar:before {
    content: "\e66a"
}

.xico-transaction-tag-price:before {
    content: "\e66b"
}

.xico-transaction-tags:before {
    content: "\e66c"
}

.xico-ui-timer:before {
    content: "\e66d"
}

.xico-ui-view:before {
    content: "\e66f"
}

.xico-transaction-tag:before {
    content: "\e677"
}

.xico-device-download:before {
    content: "\e678"
}

.xico-device-printer:before {
    content: "\e679"
}

.xico-device-upload:before {
    content: "\e67a"
}

.xico-file-attach:before {
    content: "\e67b"
}

.xico-file-clipboard-check:before {
    content: "\e67c"
}

.xico-file-clipboard:before {
    content: "\e67d"
}

.xico-file-save:before {
    content: "\e67e"
}

.xico-file-add:before {
    content: "\e67f"
}

.xico-file-check:before {
    content: "\e680"
}

.xico-file-duplicate:before {
    content: "\e681"
}

.xico-file-invalid:before {
    content: "\e682"
}

.xico-file-rm:before {
    content: "\e683"
}

.xico-file:before {
    content: "\e684"
}

.xico-action-chat:before {
    content: "\e685"
}

.xico-action-comment-dot:before {
    content: "\e68c"
}

.xico-action-comment-add:before {
    content: "\e686"
}

.xico-action-thumb-up:before {
    content: "\e694"
}

.xico-action-bookmark:before {
    content: "\e696"
}

.xico-action-star-half:before {
    content: "\e699"
}

.xico-action-star-o:before {
    content: "\e69a"
}

.xico-action-star:before {
    content: "\e69b"
}

.xico-indicator-rocket:before {
    content: "\e69e"
}

.xico-indicator-shield:before {
    content: "\e69f"
}

.xico-action-call-add:before {
    content: "\e6a1"
}

.xico-action-call-in:before {
    content: "\e6a3"
}

.xico-action-call-out:before {
    content: "\e6a4"
}

.xico-action-call-rm:before {
    content: "\e6a5"
}

.xico-action-mail:before {
    content: "\e6a8"
}

.xico-action-new-window:before {
    content: "\e6ac"
}

.xico-action-check:before {
    content: "\e6b0"
}

.xico-action-close:before,
.xico-ui-icon-cross:before {
    content: "\e6b1"
}

.xico-action-edit:before {
    content: "\e6b2"
}

.xico-action-filter:before {
    content: "\e6b3"
}

.xico-action-flag:before {
    content: "\e6b4"
}

.xico-action-log:before {
    content: "\e6b5"
}

.xico-action-remove:before {
    content: "\e6b6"
}

.xico-action-magnifier:before {
    content: "\e6b9"
}

.xico-lane-switch-hor:before {
    content: "\e6c3"
}

.xico-lane-roadblock:before {
    content: "\e6c6"
}

.xico-tt-globe:before {
    content: "\e6c9"
}

.xico-tt-globe-marker:before {
    content: "\e6cb"
}

.xico-tt-gps-left:before {
    content: "\e6cd"
}

.xico-tt-gps:before {
    content: "\e6d0"
}

.xico-tt-map:before {
    content: "\e6d1"
}

.xico-tt-marker:before {
    content: "\e6d2"
}

.xico-tt-pin:before {
    content: "\e6d3"
}

.xico-indicator-snow-33:before {
    content: "\e6d5"
}

.xico-indicator-hand:before {
    content: "\e6dc"
}

.xico-indicator-hazmat:before {
    content: "\e6dd"
}

.xico-indicator-merit:before {
    content: "\e6de"
}

.xico-indicator-thermo:before {
    content: "\e6df"
}

.xico-indicator-trophy:before {
    content: "\e6e0"
}

.xico-indicator-umbrella:before {
    content: "\e6e1"
}

.xico-indicator-bolt:before {
    content: "\e6e2"
}

.xico-indicator-bomb:before {
    content: "\e6e3"
}

.xico-indicator-dollar:before {
    content: "\e6e5"
}

.xico-indicator-fire:before {
    content: "\e6e6"
}

.xico-indicator-skull:before {
    content: "\e6e7"
}

.xico-shipment-find:before {
    content: "\e6e8"
}

.xico-shipment-package:before {
    content: "\e6e9"
}

.xico-shipment-packages:before {
    content: "\e6ea"
}

.xico-trans-gas:before {
    content: "\e6ee"
}

.xico-trans-truck-dl:before {
    content: "\e6f4"
}

.xico-trans-truck-l:before {
    content: "\e6f5"
}

.xico-trans-truck-pu:before {
    content: "\e6f6"
}

.xico-trans-truck-s:before {
    content: "\e6f7"
}

.xico-alert:before {
    content: "\e6fe"
}

.xico-bi-linechart:before {
    content: "\e700"
}

.xico-bi-piechart:before {
    content: "\e703"
}

.xico-ui-btn-approve:before {
    content: "\e704"
}

.xico-ui-btn-close:before {
    content: "\e705"
}

.xico-ui-btn-exclaim:before {
    content: "\e707"
}

.xico-ui-btn-info:before {
    content: "\e708"
}

.xico-ui-btn-minus:before {
    content: "\e709"
}

.xico-ui-btn-plus:before {
    content: "\e70a"
}

.xico-ui-btn-question:before {
    content: "\e70b"
}

.xico-ui-btn-left:before {
    content: "\e70d"
}

.xico-ui-back:before {
    content: "\e70f"
}

.xico-action-archive:before {
    content: "\e95e"
}

.xico-action-unarchive:before {
    content: "\e95f"
}

.xico-train-front:before {
    content: "\e614"
}

.xico-trans-container-add:before {
    content: "\e615"
}

.xico-trans-container-dl:before {
    content: "\e616"
}

.xico-trans-container-pu:before {
    content: "\e618"
}

.xico-trans-container-rm:before {
    content: "\e61b"
}

.xico-trans-container:before {
    content: "\e61c"
}

.xico-alert-mute:before {
    content: "\e61d"
}

.xico-alert-snooze:before {
    content: "\e61e"
}

.xico-dots:before {
    content: "\e61f"
}

.xico-bonded:before {
    content: "\e624"
}

.xico-critical:before {
    content: "\e627"
}

.xico-csa:before {
    content: "\e630"
}

.xico-fast:before {
    content: "\e631"
}

.xico-multileg:before {
    content: "\e632"
}

.xico-specialized:before {
    content: "\e633"
}

.xico-glance-view:before {
    content: "\e634"
}

.xico-high-value:before {
    content: "\e635"
}

.xico-list-view:before {
    content: "\e637"
}

.xico-rails:before {
    content: "\e639"
}

.xico-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(359deg)
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.xico-rotate-90 {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.xico-rotate-180 {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-rotate-270 {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.xico-flip-horizontal {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.xico-flip-vertical {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1)
}

.xico-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.xico-stack-1x,
.xico-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.xico-stack-1x {
    line-height: inherit
}

.xico-stack-2x {
    font-size: 2em
}

.xico-lg {
    font-size: 1.5em
}

.xico-tt-gps-up {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.xico-tt-gps-up:before {
    content: "\e6cd"
}

.xico-tt-gps-right {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-tt-gps-right:before {
    content: "\e6cd"
}

.xico-tt-gps-down {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.xico-tt-gps-down:before {
    content: "\e6cd"
}

.xico-ui-btn-up {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.xico-ui-btn-up:before {
    content: "\e70d"
}

.xico-ui-btn-right {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-ui-btn-right:before {
    content: "\e70d"
}

.xico-ui-btn-down {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.xico-ui-btn-down:before {
    content: "\e70d"
}

.xico-ui-arrow-up {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-ui-arrow-up:before {
    content: "\e60b"
}

.xico-ui-arrow-left {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-ui-arrow-left:before {
    content: "\e613"
}

.xico-ui-angle-up {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.xico-ui-angle-up:before {
    content: "\e652"
}

.xico-ui-angle-right {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-ui-angle-right:before {
    content: "\e652"
}

.xico-ui-angle-down {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.xico-ui-angle-down:before {
    content: "\e652"
}

.xico-ui-angle-double-up {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.xico-ui-angle-double-up:before {
    content: "\e655"
}

.xico-ui-angle-double-right {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-ui-angle-double-right:before {
    content: "\e655"
}

.xico-ui-angle-double-down {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.xico-ui-angle-double-down:before {
    content: "\e655"
}

.xico-ui-arrow-w-left:before {
    content: "\e63d"
}

.xico-ui-arrow-w-up,
.xico-ui-arrow-n {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.xico-ui-arrow-w-up:before,
.xico-ui-arrow-n:before {
    content: "\e63d"
}

.xico-ui-arrow-w-right,
.xico-ui-arrow-e {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-ui-arrow-w-right:before,
.xico-ui-arrow-e:before {
    content: "\e63d"
}

.xico-ui-arrow-w-down,
.xico-ui-arrow-s {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.xico-ui-arrow-w-down:before,
.xico-ui-arrow-s:before {
    content: "\e63d"
}

.xico-ui-arrow-nw-left:before {
    content: "\e644"
}

.xico-ui-arrow-nw-up,
.xico-ui-arrow-ne {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.xico-ui-arrow-nw-up:before,
.xico-ui-arrow-ne:before {
    content: "\e644"
}

.xico-ui-arrow-nw-right,
.xico-ui-arrow-se {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-ui-arrow-nw-right:before,
.xico-ui-arrow-se:before {
    content: "\e644"
}

.xico-ui-arrow-nw-down,
.xico-ui-arrow-sw {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.xico-ui-arrow-nw-down:before,
.xico-ui-arrow-sw:before {
    content: "\e644"
}

.xico-ui-forward {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.xico-ui-forward:before {
    content: "\e70f"
}

.xico-lane-switch-ver {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.xico-lane-switch-ver:before {
    content: "\e6c3"
}

.xico-ui-redo {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.xico-ui-redo:before {
    content: "\e64b"
}

.xico-ui-post-to {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.xico-ui-post-to:before {
    content: "\e648"
}

.xico-ui-spinner-forward {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.xico-ui-spinner-forward:before {
    content: "\e64a"
}

.xico-reload-spinning {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

.xico-reload-spinning:before {
    content: "\e647"
}

.xico-loading-spinning {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

.xico-loading-spinning:before {
    content: "\e65c"
}
