<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--UAT-->
    <!--<add key="Identity.BaseUrl" value="http://sec.shuttle-uat.xpo.com" />
    <add key="Identity.TestHost" value="sec.shuttle-uat.xpo.com" />
    <add key="Identity.TestPort" value="80" />
    <add key="Service.BaseUrl" value="http://api.shuttle-uat.xpo.com" />
    <add key="Service.TestHost" value="shuttle-uat.xpo.com" />
    <add key="Service.TestPort" value="80" />
    <add key="Service.Environment" value="UAT" />-->
    
    <!--PROD-->
    <!--<add key="Identity.BaseUrl" value="http://sec.drayshuttle.xpo.com" />
    <add key="Identity.TestHost" value="sec.drayshuttle.xpo.com" />
    <add key="Identity.TestPort" value="80" />
    <add key="Service.BaseUrl" value="http://api.drayshuttle.xpo.com" />
    <add key="Service.TestHost" value="drayshuttle.xpo.com" />
    <add key="Service.TestPort" value="80" />
    <add key="Service.Environment" value="PROD" />-->

    <!--INT-->
    <add key="Identity.BaseUrl" value="http://tssxpoint.tss.com.pe:7081" />
    <add key="Identity.TestHost" value="tssxpoint.tss.com.pe" />
    <add key="Identity.TestPort" value="7081" />
    <add key="Service.BaseUrl" value="http://tssxpoint.tss.com.pe:7082" />
    <add key="Service.TestHost" value="tssxpoint.tss.com.pe" />
    <add key="Service.TestPort" value="7082" />
    <add key="Service.Environment" value="INTEGRATION" />
    
    <add key="Service.TestTimeout" value="5000" />
    <add key="Identity.ClientId" value="XPO.ShuttleTracking.Mobile" />
    <add key="Identity.Secret" value="xpo.shuttle.secret" />
    <add key="Identity.Scope" value="openid profile email offline_access roles XST.Services" />    
    <add key="Service.TimeoutInMs" value="30000" />
    <add key="App.SemanticVersion" value="1.4.0.11" />
  </appSettings>  
</configuration>