<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <appSettings>
    <add key="UsersAdmin.Enable" value="True" />
    <add key="ClientsAdmin.Enable" value="True" />
    <add key="Windows.DSDomain" value="localhost" />
    <add key="Windows.EmailDomain" value="outlook.com" />
    <add key="Identity.SiteName" value="Amigo Tenant" />
    <add key="Identity.PublicUrl" value="http://127.0.0.1:7071/" />
    <add key="Identity.TraceEnabled" value="True" />    
    <add key="Identity.ServiceScope" value="UsersApi" />
    <add key="UsersService.SecurityEnabled" value="True" />
    <add key="Raygun.Apikey" value="EfjFencSOl80YFmtcuzOzQ==" />
    <add key="Raygun.Tag" value="identity" />
  </appSettings>
  <connectionStrings>
    <!--<add name="amigoTenantDb" connectionString="data source=localhost\sql2012;initial catalog=Amigo_Tenant_AnteriorDB;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=AmigoTenantEF" providerName="System.Data.SqlClient" />-->
    <!--<add name="amigoTenantDb" connectionString="data source=JAMESPC\SQLEXPRESS;initial catalog=Amigo_Tenant_AnteriorDB;persist security info=True;user id=test;password=1234567;MultipleActiveResultSets=True;App=AmigoTenantEF" providerName="System.Data.SqlClient" />-->
     <!-- <add name="amigoTenantDb" connectionString="data source=tcp:vr39ezx87u.database.windows.net,1433;initial catalog=Amigo_Tenant_AnteriorDB;persist security info=True;user id=sqluser@vr39ezx87u;password=P@ssw0rd;MultipleActiveResultSets=True;App=AmigoTenantEF" providerName="System.Data.SqlClient" />  -->
     <add name="amigoTenantDb" connectionString="data source=tcp:vr39ezx87u.database.windows.net,1433;initial catalog=Amigo_Tenant_AnteriorDB_Bck;persist security info=True;user id=sqluser@vr39ezx87u;password=P@ssw0rd;MultipleActiveResultSets=True;App=AmigoTenantEF" providerName="System.Data.SqlClient" /> 
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.1.0" newVersion="5.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mindscape.Raygun4Net4" publicKeyToken="002e1b57394fa9b9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.1.0" newVersion="5.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mindscape.Raygun4Net" publicKeyToken="20dddfb3684a7aa5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.1.0" newVersion="5.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>